[user]
    name = Miguel Batista
    email = miguelcbatista@gmail.com
    username = mpcsb
[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
